:root {
    --bgcolor: rgb(165, 252, 223);
}

body {
    background-color: rgb(236, 250, 246);
}
.navbar {
    background-color: rgb(236, 250, 246);
}

.jumbotron{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 30%;
    grid-template-areas: "display-4 headshot"
    "tagline headshot";
    justify-items: center;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    background-color: var(--bgcolor) ;
    padding: 40px;
}

.display-4 {
    grid-area: display-4;
    font-size: 80px;
}

#headshot {
    max-height: 400px;
    grid-area: headshot;
    border-radius: 30px;
}

#tagline {
    grid-area: tagline;
    font-size: 30px;
}

.card-text {
    font-size: 18px;
}

.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "css-cheatsheet css-cheatsheet"
    "prework hungrydata";
    justify-items: center;
    background-color:rgb(236, 250, 246);
    border: 0px;
    margin: 0px;
    padding: 40px;
}

.btn-primary {
    font-size: 25px;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;
}

.btn-primary:hover {
    box-shadow: inset 0px 0px 8px 
    rgb(255, 255, 255),
    0 0 30px rgb(88, 255, 199);
}

#css-cheatsheet {
    grid-area: css-cheatsheet;
}

#prework {
    grid-area: prework;
}

#hungrydata {
    grid-area: hungrydata;
}

.card-img-top {
    width: auto;
    border-radius: 30px;
}

.card-img-botlef{
    width: auto;
    border-radius: 30px;
}

.card-img-botrig {
    width: auto;
    border-radius: 30px;
}

.card {
    margin: 20px;
    border-radius: 30px;
}

#abtcont {
    padding: 10px;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(
    rgb(236, 250, 246),
    var(--bgcolor));
    border: 0px;
    margin: 0px;
    position: relative;
    bottom: 48px;
}

#email {
    font-size: 30px;
}

#skillz {
    display: flex;
    justify-content: center;
    background-color: var(--bgcolor);
    padding: 0px;
    border: 0px;
    margin: 0px;
    position: relative;
    bottom: 48px;
}

footer {
    padding: 20px;
    background-image: linear-gradient(
    rgb(165, 252, 223),
    rgb(236, 250, 246));
    border: 0px;
    margin: 0px;
    position: relative;
    bottom: 48px;
}